src/main/mule/database_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8dfb3ae4-440a-4a2b-9392-e64a2f3ac610" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ae3ff03e-90fe-48da-8714-672da290c581" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="new_schema"/>
	</db:config>
	<flow name="database_demoFlow2" doc:id="df4a3c29-76de-4f9e-9d5e-83ae106809c6" >
		<http:listener doc:name="Listener" doc:id="db96c720-d75e-4016-87a7-dc56397482e5" config-ref="HTTP_Listener_config" path="bulk"/>
		<ee:transform doc:name="Transform Message" doc:id="c87b8178-1fb3-4ec3-925b-78c3ca93c9b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	empId: payload01.empId,
	empName: payload01.empName,
	empAddress: payload01.empAddress
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="58a9064f-25da-4eae-8530-61f7fd8c42e2" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO new_table (empId,empAddress,empName)values (:empId,:empAddress,:empName)]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="adb54aef-0210-4e1c-b983-7358286769cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Success",
	"response":201
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="database_demoFlow" doc:id="936bc484-519d-4958-af25-743bfceb279b" >
		<http:listener doc:name="Listener" doc:id="046e47e2-3e9e-4e4e-bef8-65e66f53c4a6" config-ref="HTTP_Listener_config" path="select"/>
		<logger level="INFO" doc:name="Logger" doc:id="597283d1-c5bc-48fd-9eff-070ae6317918" message="it started"/>
		<db:select doc:name="Select" doc:id="9211758e-593c-479d-8bbe-108e4e3acb02" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM new_schema.new_table where empId= :id or empName= :name;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.queryParams.id,
	name:attributes.queryParams.name
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7fd4b8b5-ee15-40bc-9050-621fab6892c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="database_demoFlow1" doc:id="1e61ced5-698e-418f-b808-deb123bdeee0" >
		<http:listener doc:name="Listener" doc:id="3f9c7220-2ed5-4882-9e67-d32388499278" config-ref="HTTP_Listener_config" path="insert"/>
		<db:insert doc:name="Insert" doc:id="7c219e45-080c-43f7-a0f1-f46e2527de41" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO new_table (empId,empName,empAddress)
values(:empId,:empName,:empAddress)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empId:payload.StudentId,
	empName:payload.StudentName,
	empAddress:payload.StudentAddress
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="16c24b42-2a14-4b27-948b-b6885a2b7465" />
		<ee:transform doc:name="Transform Message" doc:id="1ce7ab27-38be-4b09-9868-37b511099a86" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="database_demoFlow3" doc:id="e58c0d2f-bb47-4336-b1a5-dbf7a0e15b39" >
		<http:listener doc:name="Listener" doc:id="0ea35e10-6f8d-418f-b6ef-0db2f434b4a6" config-ref="HTTP_Listener_config" path="update"/>
		<db:update doc:name="Update" doc:id="39496c41-ae80-41c4-a061-dced6753935f" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE new_table set empName=:empName where empId=:empId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empId:attributes.queryParams.empId,
	empName:attributes.queryParams.empName
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="86f7b47e-507c-401f-a7f6-be637df30838" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
